body{
    margin: 0;
    padding: 0;
    background-color: peachpuff;
/*color: #fff; */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.main{
    text-align: center;
}
.btn{
    height: 100px;
    width: 100px;
    border-radius: 15px;
    border: 3px solid black;
    display: inline-block;
    cursor: pointer;
    margin: 10px;

}
#black{
    background: black;
    color: white;
    border: 3px solid peachpuff;
}
#white{
    background: white;
    color: black;
    border: 3px solid peachpuff;

}
#grey{
    background: grey;
    color: white;
    border: 3px solid peachpuff;

}
#darkblue{
    background:darkblue;
    color: white;
    border: 3px solid peachpuff;

}
#yellow{
    background: yellow;
    color: rgb(12, 11, 11);
    border: 3px solid peachpuff;

}
#peachpuff{
    background-color: peachpuff;
    color: black;
}
